<div id="about" class="primaryFont">
    <p>
        The Alberta Student Energy Conference (ASEC) is a two-day learning and networking opportunity for students and industry professionals from all over Canada to come and share the future of Canada's energy.
    </p>
    <p>
        ASEC 2018 will be held on <span class="secondaryColor">February 8th and 9th</span> at the University of Calgary. You will have the opportunity to hear from leading professionals in the energy industry about trending topics from engineering, business, geoscience, computer science, and much more through a variety of different workshops and sessions.
    </p>
    <h2>Thursday, February 8<sup>th</sup></h2>
    <p>
        We will once again be hosting the <span class="secondaryColor">EnergyBowl Competition</span> which sees student teams working together to solve an energy case and test their energy trivia. We have hosted teams from all over Canada and had the chance to see ideas come to life through a variety of presentations. EnergyBowl gives students the experience to apply academics to real world scenarios while exercising practical and professional skills. If you wish to register a team, please register before February 2nd. You can also sign up individually and we can organize a team for you! Email <a href="mailto:energybowl@asec.ca">energybowl@asec.ca</a> for more information.
    </p>
    <p>
        Separate tickets are available for the <span class="secondaryColor">ASEC Enmax District Energy Tour</span> for free for any students! This will let students take a 2-hour tour of Enmax's District Energy facility in downtown Calgary with a presentation of Enmax's goals.
    </p>
    <h2>Friday, February 9<sup>th</sup></h2>
    <p>
        The <span class="secondaryColor">Day Conference</span> portion of ASEC will be hosted at the University of Calgary and let students learn about the practical approach of their education and explore career opportunities, learn professional skills, and prepare them for the next step in their futures. From panel discussions to workshops, the conference is where energy will be explored.
    </p>
    <p>
        Finally, the <span class="secondaryColor">Evening Banquet</span> will host over 150 students and over 100 energy professionals to enjoy a banquet dinner and presentations at the BMO Centre in Calgary. This is where we will hear from our keynote speaker, Co-Chairs, and others to wrap up the conference.
    <p>
    <p>
        Reach us at <a href="https://www.facebook.com/AlbertaStudentEnergy">Facebook</a>, <a href="https://twitter.com/abstudentenergy">Twitter</a>, and <a href="https://www.linkedin.com/company-beta/17994689/">LinkedIn</a> for more updates on the conference.
        Come join ASEC 2018 and make Canada's energy a part of your future. We look forward to sharing this with you!
    </p><br />
    Thank you,<br />
    <img class="sig" src="/static/images/signature_nagribianko.png" />
    <img class="sig" src="/static/images/signature_ludovice.png" />
    <br />
    Austyn Nagribianko &amp; Marco Ludovice <br />
    <span class="secondaryFont">Co-Chairs</span>
</div>
