<div id="about" class="primaryFont">
    <p>
        The Alberta Student Energy Conference is building the future for Canada.
        We are a step for the energy industry, connecting knowledgeable professionals with ambitious students who will inherit and progress Canada's Energy.
        Reinventing existing technology and developing new methodologies, ASEC is building momentum.
    </p>
    <p>
        ASEC aims to introduce companies to the students who can bring fresh ideas and motivation to an industry of opportunities.
        This is achieved through discussion, presentation, competition, and collaboration.
    </p>
    <p>
        Let us invite you to take part in the discussion on February 8th and 9th in Calgary, Alberta for 8th annual Alberta Student Energy Conference.
    </p>

    Thank you,<br />
    <br />
    <br />
    Austyn Nagribianko &amp; Marco Ludovice <br />
    <span class="secondaryFont">Co-Chairs</span>
</div>
