<div id="mainAttraction">
    <div class="wrapped_image_wrapper">
        <div>
            <img title="Alberta Student Energy Conference" alt="Alberta Student Energy Conference" src="/static/images/logo_330x330.png" />
        </div>
        <div>
            <span class="biglogo_text">
                <span class="primaryFont logoFont">8<sup>th</sup> Annual Alberta Student Energy Conference</span>
                <br />
                <span class="secondaryFont logoFont"><i>Momentum: Building the Future</i></span>
                <br />
                <hr />
                February 8<sup>th</sup> &amp; 9<sup>th</sup>,&nbsp;&nbsp;2018&nbsp;&nbsp;|&nbsp;&nbsp;Calgary,&nbsp;&nbsp;Alberta
                <br />
                <br />
                Check back soon for updates. We look forward to seeing you there!
            </span>
        </div>
    </div>
</div>
<div id="sponsorHeaderWrapper">
    <h1>Proudly Sponsored in 2016 by:</h1>
    <a id="becomeASponsor" class="primaryFont" href="mailto:sponsorship@asec.ca">
        Become a Sponsor
    </a>
</div>
<hr class="thickSeparator">
<div id="sponsors">
    ${sponsorPlatinumHeader}
    <ul class="sponsorSection Platinum">
        ${sponsorPlatinum}
    </ul>
    <ul class="sponsorSection">
        ${sponsors}
    </ul>
</div>
