<div id="registration" class="primaryFont textbody">
    Registration for the 2018 Alberta Student Energy Conference is currently closed. Please try again later.
    <br />
    <br />
    <br />
    <br />
    If you would like, you can join our mailing list and we will let you know when registration opens again.
    <form action="/subscribe" method="post">
        <input type="email" name="email" placeholder="john.doe@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
        <input type="submit" />
    </form>
</div>
