html {
    box-sizing: border-box;
    height: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    min-height: 100%;
    background-color: #E2E9E7;
    font-family: "Encode Sans Semi Condensed", sans-serif;
}

.center,
.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center,
.centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center {
    transform: translate(-50%, -50%);
}

.wrapped_image .logo {
    display: inline-block;
    height: 100px;
    width: 430px;
    background-image: url("/static/images/logo_100x100.png");
    background-repeat: no-repeat;
    position: relative;
}

.primaryFont {
    color: #585858;
    font-size: 18px;
}
.secondaryFont {
    color: #0D956C;
    font-size: 10px;
}
.smalllogo_text {
    text-align: left;
    padding-left: 110px;
}
.technicalDetails {
    font-size: 10px;
    font-family: consolas, "monospace";
}
.aLittleOnTop {
    margin-top: 10px;
}
.right {
    text-align: right;
}
hr.halfhr {
    width: 50%;
}
a.subtleLink {
    color: #585858;
    text-decoration: none;
}
a.subtleLink:hover {
    text-decoration: underline;
}
.contrast {
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
.invis {
    display: none;
}
.textbody {
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.thickSeparator {
    border: 1px solid #0D956C;
    width: 90%;
}
.textInput:focus {
    outline-color: #0D956C;
}
.topSpace {
    padding-top: 12px;
}
.inputAndSubmit {
    display: inline-block;
    position: relative;
}
.inputAndSubmit input:first-child {
    padding-right: 30px;
}
.inputAndSubmit input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    color: #585858;
}
.inputAndSubmit input[type="submit"]:hover {
    cursor: pointer;
}
h1 {
    color: #585858;
    padding-left: 30px;
}
.secondaryColor {
    color: #0D956C;
}
